

.season {
    height: 75vh;
    background-color: black;
    display: flex;
    justify-content: space-between;

}

.season img {
    height: 100%;
    width: 30%;
}

.new { 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.new h1 {
    font-size: 3rem;
}

.new button {
    width: 8rem;
    padding: 20px;
    color: white;
    background-color: black;
    border: 1px solid gray;
}
.new button:hover {
    border: 3px solid white;
    padding: 19px;
}